<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>
    <div class=" container-fluid" style="align-content: center; align-items: center;margin-top: 10%; ">


        <div class="row justify-content-center">
            <div class="col-sm-8">
                <img style="size-adjust: inherit;"
                    src="https://img.freepik.com/free-vector/error-404-concept-landing-page_52683-20650.jpg?size=626&ext=jpg"
                    class="img-fluid" alt="error" width="70%" height="70%">
            </div>
            <div style="text-align: center;align-items: center; " class="col-sm-4 justify-content-center">

                <div class="container "
                    style="text-align: center; margin-left:-170px ; margin-top: 20%; font-family: 'Smooch', cursive;">

                    <p style="text-align: left;font-size: 40px; " class="text-primary">This page can't Found Please
                        Check The your Request</p>
                </div>
            </div>
        </div>
    </div>


</body>

</html>